{% load static %}

<!-- Este bloque es para la barra de navegación -->
{% block barra %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">SHUESHIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menú
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'manga_list' %}">Mangas</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'anime_list' %}">Animes</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'create_post' %}">Postear</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'register' %}">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


<!-- Bloque para desplegar la información de un artículo o post -->
{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }} - {{post.post_date}}</small>
<br/>
<!-- El usuauio debe haber iniciado sesión para editar o eliminar un post -->
{% if user.is_authenticated %}
<!-- Solo usuario que haya creado el post puede editarlo o borrarlo-->
    {% if user.id == post.author.id %}
    <small><a href="{% url 'update_post' post.pk %}">(Editar)</a>
    - <a href="{% url 'delete_post' post.pk %}">(Eliminar)</a>
    </small> 
    {% endif %}
{% endif %}

<br/>

<!-- Se muestra la imagen del post -->
{% if post.header_image %}
<img src="{{post.header_image.url }}"> 
{% endif %}

{{post.body|safe}}
<br/>
<br/>

<!-- Sección para dar likes -->
<form action="{% url 'like_post' post.pk %}"
method="'POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <!-- Solo el usuaruio que ha iniciado sesión puede dar like -->
        {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    
    {% else %}
    Necesitas iniciar sesión
    {% endif %}
    - {{ total_likes }} Likes
</form>

<!-- {% if post.author.profile.profile_pic %}
<img src="{{ post.author.profile.profile_pic.url }}" width="300" height="300"> {{post.author.profile.user}}<br/> 
{% else %}
<img src="{% static 'assets/img/picture1.jpg' %}" width="150" height="150"/> <br/> {{post.author.profile.user}} <br/>
{% endif %}
{{post.author.profile.bio}}<br/> -->


<!-- Sección para hacer comentarios en la web  -->
<h2>Comentarios</h2>
<a href="{% url 'add_comment' post.pk %}">Añadir un Comentario</a>
<br/>
{% if not post.comments.all %}
    Sin Comentarios Aún... Añade uno :)
{% else %}
<br/>
    {% for comment in post.comments.all %}
        <strong> {{ comment.name}} - Fecha: {{ comment.date_added}}</strong>
        <br/>
        Comentario: {{ comment.body }}
        <br/>
    {% endfor %}
{% endif %}


{% endblock %}